.challengeHeader * {
    pointer-events: none;
}

.dropZone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 3rem;
}

.dropZone.dropActive {
    background-color: var(--bg-challenge-dropoff);
    animation: fade-in 0.5s;

}

@keyframes fade-in {
    from {
        color: white;
    }

    to {
        background-color: var(--bg-challenge-dropoff);
    }
}

.cardContainer {
    min-height: 30%;
}

.cardListItem {
    margin-right: var(--spacing-lg);
    border: none !important;
    background-color: transparent;
    padding: 0;
}

.cardListItem:last-child {
    margin-right: 0;
}

.challengeProgress {
    font-size: 0.85rem;
}

.cardListContainer {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}