.phaseTab {
  gap: 0.5rem;
  margin: 10px;
}

.phaseContainer {
  flex-wrap: wrap !important;
  max-height: 60px;
  max-width: 140px !important;
  border: none !important;
  background-image: url(./svg/fast-forward-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.phaseText {
  line-height: 100%;
  text-align: center;
  transform: translate(0%, 20%);
}