.stakeholderListItem {
    margin-right: 2rem;
    position: relative;
    overflow: visible;
}

.stakeholderListItem:last-child {
    margin-right: 0;
}

.stakeholderName {
    font-weight: bold;
    margin-bottom: -10%;
}