# -- Groq Configuration --
GROQ_API_KEY=

# -- Comet Configuration --
COMET_API_KEY=

# -- Security & Admin Configuration --
ADMIN_USER=
ADMIN_KEY=
SECRET_KEY=

# -- RWTH LLM Proxy Configuration (OpenAI proxy) --
RWTH_API_KEY=

# -- PostgreSQL Configuration --
POSTGRES_URI=postgresql+psycopg://mlops_labs:mlops_labs@localhost:5432/mlops_labs
POSTGRES_ASYNC_URI=postgresql+asyncpg://mlops_labs:mlops_labs@localhost:5432/mlops_labs
