# -- Groq Configuration --
GROQ_API_KEY=

# -- Comet Configuration --
COMET_API_KEY=

# -- Security & Admin Configuration --
ADMIN_USER=
ADMIN_KEY=
SECRET_KEY=

# -- WestAI LLM Proxy Configuration (OpenAI proxy) --
WESTAI_API_KEY=

# -- MistralAI Proxy Configuration --
MISTRAL_API_KEY=

# -- PostgreSQL Configuration --
POSTGRES_URI=postgresql+psycopg://mlops_labs:mlops_labs@localhost:5432/mlops_labs
POSTGRES_ASYNC_URI=postgresql+asyncpg://mlops_labs:mlops_labs@localhost:5432/mlops_labs

# -- HuggingFace Configuration --
HF_TOKEN=
HF_HUB_DISABLE_XET=1

